@model AgroGanSite.Models.NEW_Noticias

@{
    ViewBag.Title = "Noticia";
}

<script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-collapse.js")"></script>


<div class="breadcrumbs margin-bottom-10">
    <div class="container">
    <div class="row-fluid">
        <h3 class="color-blue pull-left">Noticias</h3>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Inicio</a> <span class="divider">/</span></li>
            <li><a href="@Url.Action("Index", "Home")" >Página</a> <span class="divider">/</span></li>
            <li class="active">Noticias</li>
        </ul>
    </div></div>
    <!--/container-->
</div>
<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid blog-page">
        <!-- Right Sidebar -->
        <div class="span3">

            <!-- Posts -->
            <div class="posts margin-bottom-20 lastnews">
            </div>
            <!-- End  Posts -->
        </div>
        <!--/span3-->

        <!-- Left Sidebar -->
        <div class="span9">
            <div class="blog margin-bottom-30">
                <h3>@Model.NEW_Titulo</h3>
                <ul class="unstyled inline blog-info">
                    <li><i class="icon-calendar"></i>@Model.NEW_Date</li>
                    <li><i class="icon-pencil"></i>@Model.NEW_CreatedBy</li>
                  @*  <li><i class="icon-comments"></i><a href="#">24 Comments</a></li>*@
                </ul>
                <div class="blog-img">
                    <img class="img-rounded imgNew" src='@Url.Content(Model.NEW_Imagen)' alt="" />
                </div>
                @{
                    var value = new HtmlString(Model.NEW_HTML);
                    <p>@value</p>
                }
                <p><a class="btn-u btn-u-small" href="#">Leer Más</a></p>
            </div>
            <!--/blog-->
        </div>
        <!--/span9-->
    </div>
    <!--/row-fluid-->
</div>
<!--/container-->
<!--=== End Content Part ===-->

<script>
    var $j = jQuery.noConflict();
    $j(function () {
        var urlHelper = new UrlHelper();
        var img = '@Model.NEW_Imagen';
        img = urlHelper.urlImage(img);
        $j(".imgNew").attr('src', img);


        jQuery.ajax(
        {
            type: 'post',
            url: '@Url.Content("~/News/GetNewTop3/")',
            success: function (data) {
               var result = JSON.parse(data);
               var htmlresult = '';
               htmlresult += '<div class="headline"><h3>Noticias Recientes</h3></div>';
               $j.each(result.$values, function (val, noti) {
                   var urlHelper = new UrlHelper();
                   var url = urlHelper.urlImage(noti.NEW_Imagen);
                   
                   htmlresult += '<dl class="dl-horizontal"> <dt><a onclick="VerNewInnerId(' + noti.NEW_Id + ')"><img src="' + url + '" alt=""></a></dt>';
                   htmlresult += '<dd> <p><a href="#">"' + noti.NEW_Titulo + '"</a></p></dd> </dl>';
               });
               $j('.lastnews').html(htmlresult);

           },
           error: function (a, b, c) {

           }
       });
    });

    function VerNewInnerId(id) {
        var url = '@Url.Action("GetNewsId", "News")' + '/' + id;
        window.location = url;

     }

</script>
