@model AgroGanSite.Models.LocalPasswordModel



@*<div class="container">*@

    <div class="row-fluid ">
        <div class="reg-page">
            <h3>Manage an account</h3>
            @using (Html.BeginForm("Manage", "Account"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

               
                <div class="controls">
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                </div>
                <div class="controls">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                </div>
                <div class="controls">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
                 
                <input type="submit" class="btn-u" value="Change password" />
      
    
   
            }
        </div>
    </div>
@*</div>*@
