@model AgroGanSite.Models.LocalPasswordModel
@{
    ViewBag.Title = "Administración de Cuentas";
}

<script src="~/Scripts/Bootstrap/bootstrap-collapse.js"></script>
<link href="~/Content/bootstrap-helper.css" rel="stylesheet" />


<div class="container">
    <div class="row-fluid">
     
        <div class="block-body collapse in" id="tablelogin">

            <p class="message-success">@ViewBag.StatusMessage</p>

            <p>Ha entrado como <strong>@User.Identity.Name</strong>.</p>

            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial")
            }
            else
            { 
                @Html.Partial("_SetPasswordPartial")
            }

        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
