@model AgroGanSite.Models.LocalPasswordModel
@{
    ViewBag.Title = "Cuentas";
}

<script src="~/Scripts/Bootstrap/bootstrap-collapse.js"></script>
<link href="~/Content/bootstrap-helper.css" rel="stylesheet" />


<div class="row-fluid">
    <div class="block span12">
        <a data-toggle="collapse" class="block-heading" href="#tablelogin">Administración de Cuenta.</a>
        <div class="block-body collapse in" id="tablelogin">

            <p class="message-success">@ViewBag.StatusMessage</p>

            <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial")
            }
            else
            { 
                @Html.Partial("_SetPasswordPartial")
            }

        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
