@model AgroGanSite.Models.RegisterModel
@{
    ViewBag.Title = "Registro de Cuenta";
}

<script src="~/Scripts/Bootstrap/bootstrap-collapse.js"></script>
@*<link href="~/Content/bootstrap-helper.css" rel="stylesheet" />*@



<div class="breadcrumbs margin-bottom-50">
    <div class="container">
        <h3 class="color-blue pull-left">Register</h3>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li><a href="@Url.Action("Index", "Home")" >Pages</a> <span class="divider">/</span></li>
            <li class="active">Registration</li>
        </ul>
    </div>
    <!--/container-->
</div>
<!--/breadcrumbs-->

<div class="container">

    <div class="row-fluid ">
        <div class="reg-page">

            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <h3>Registre una nueva cuenta</h3>
                <div class="controls">

                    <label>Id. Usuario<span class="color-red">*</span></label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "span12" })
                </div>
                <div class="controls">

                    <label>Dirección de Correo<span class="color-red">*</span></label>
                    @Html.TextBoxFor(m => m.EmailId, new { @class = "span12" })
                </div>
                <div class="controls">

                    <label>Detalle <span class="color-red"></span></label>
                    @Html.TextBoxFor(m => m.Details, new { @class = "span12" })
                </div>
                
                <div class="controls">
                    <div class="span6">
                        <label>Contraseña <span class="color-red">*</span></label>
                        @Html.PasswordFor(m => m.Password, new { @class = "span12" })
                    </div>
                    <div class="span6">
                        <label>Confirme contraseña <span class="color-red">*</span></label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "span12" })
                    </div>
                </div>
                <div class="controls form-inline">
                    <label class="checkbox">
                        <input type="checkbox" />&nbsp; He leido los  <a href="#">Terminos y condiciones</a></label>
                    <button class="btn-u pull-right" type="submit">Registro</button>
                </div>
                <hr />
                <p>Sí ya tienes cuenta entre  <a href="@Url.Action("Login")" class="color-green">Aquí </a> a su cuenta.</p>
            }
        </div>


    </div>
    <!--/row-fluid-->
</div>
<!--/container-->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
