<!DOCTYPE html>

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - AgroGanadera Martínez S.A.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/favicon.png">

    <link href="@Url.Content("~/Content/Bootstrap/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Unify/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Unify/header1.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Bootstrap/bootstrap-responsive.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Unify/style_responsive.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/Unify/header1-blue.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Unify/blue.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Unify/parallax-slider.css")" rel="stylesheet" />



    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-dropdown.js")"></script>
    <script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-modal.js")"></script>
    <script src="@Url.Content("~/Scripts/Facebook.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.alerts.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.21.full.min.js")"></script>
    <script src="@Url.Content("~/Scripts/CustomScript/back-to-top.js")"></script>

    <script type="text/javascript">
        $(function () {
            InitialiseFacebook(@System.Configuration.ConfigurationManager.AppSettings["FacebookAppId"]);
        });
        function UrlHelper() {
            this.urlImage = function (img) {
                var ROOT = '@Url.Content("~/")';
                return ROOT + img;
            }
            }
    </script>



</head>
<body>


    <!--=== Top ===-->
    <div class="top">
        <div class="container">
            <ul class="loginbar pull-right">
                @*    <li><i class="icon-globe"></i><a>Languages <i class="icon-sort-up"></i></a>
                    <ul class="nav-list">
                        <li class="active"><a href="#">English</a> <i class="icon-ok"></i></li>
                        <li><a href="#">Spanish</a></li>
                    </ul>
                </li>*@
                @*             <li class="devider">&nbsp;</li>*@
                <li><a href="mailto:stn_rules@hotmail.com" class="login-btn">Help</a></li>
                <li class="devider">&nbsp;</li>


                @if (Request.IsAuthenticated)
                {
                   
                    <li>@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "login-btn", title = "Manage" })!</li>
                    <li>

                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                   
                            <a class="login-btn" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        }

                    </li>
                   
                }
                else
                {
                  
@* <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "login-btn" })</li>
                    <li class="devider">&nbsp;</li>*@
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "login-btn" })</li>
                  
                }


            </ul>
        </div>
    </div>
    <!--/top-->
    <!--=== End Top ===-->

    <!--=== Header ===-->
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <div class="logo">
                <a href="@Url.Action("Index", "Home")">
                    <img id="logo-header" src="@Url.Content("~/Images/ag_LogoLetra.png")" alt="Logo"></a>
            </div>
            <!-- /logo -->


            @if (Request.IsAuthenticated)
            { 
                <text>
                @Html.Partial("_LoggedMenu")
                </text>
            }
            else
            {
         
                <text>
                @Html.Partial("_NotLoggedMenu")
                </text>
            }


        </div>
        <!-- /container -->
    </div>
    <!--/header -->
    <!--=== End Header ===-->

    <!--=== Body ===-->
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <!--/body -->
    <!--=== End Body ===-->

    <!--=== Footer ===-->
    <div class="footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    <!-- About -->
                    <div class="headline">
                        <h3>Acerca de...</h3>
                    </div>
                    <p class="margin-bottom-25">Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals.</p>

                    <!-- Monthly Newsletter -->
                    <div class="headline">
                        <h3>Noticias y Ofertas </h3>
                    </div>
                    <p>Ingresa tu correo para recibir noticias y ofertas!</p>
                    <form class="form-inline">
                        <div class="input-append">
                            <input type="text" placeholder="Email Address" class="input-medium">
                            <button class="btn-u">Ingresa ya!</button>
                        </div>
                    </form>
                </div>
                <!--/span4-->

                <div class="span4">
                    <div class="posts lastnews">
                        @*  <div class="headline">
                            <h3>Noticias Recientes</h3>
                        </div>
                        <dl class="dl-horizontal">
                            <dt><a href="#">
                                <img src="@Url.Content("~/FilesUploaded/6.jpg")" alt=""></a></dt>
                            <dd>
                                <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt><a href="#">
                                <img src="@Url.Content("~/FilesUploaded/9.jpg")"alt=""></a></dt>
                            <dd>
                                <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                            </dd>
                        </dl>*@

                    </div>
                </div>
                <!--/span4-->

                <div class="span4">
                    <!-- Monthly Newsletter -->
                    <div class="headline">
                        <h3>Contáctenos</h3>
                    </div>
                    <div id="personalinfofooter">
                    </div>


                    <!-- Stay Connected -->
                    <div class="headline">
                        <h3>Redes Sociales</h3>
                    </div>
                    <div style="width: 100px">
                        <div style="vertical-align: middle; margin-right: 20px">
                            <a href="https://twitter.com/agrogan" class="twitter-follow-button" data-show-count="false">Follow @@kippt</a>
                            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                        </div>
                        <div style="vertical-align: bottom">
                            <div class="fb-like" data-href="http://facebook.com/agrogan" data-send="false" data-width="100" data-show-faces="false" data-layout="button_count"></div>
                        </div>
                    </div>
                </div>
                <!--/span4-->
            </div>
            <!--/row-fluid-->
        </div>
        <!--/container-->
    </div>
    <!--/footer-->
    <!--=== End Footer ===-->

    <!--=== Copyright ===-->
    <div class="copyright">
        <div class="container">
            <div class="row-fluid">
                <div class="span8">
                    <p>@DateTime.Now.Year © Agroganadera Martínez S.A. Derechos Reservados. <a href="#">Politica de Privacidad</a> | <a href="#">Terminos de Servicios</a></p>
                </div>
                <div class="span4">
                    <a href="@Url.Action("Index", "Home")">
                        <img id="logo-footer" src="@Url.Content("~/Images/ag_Logo.png")" class="pull-right" alt=""></a>
                </div>
            </div>
            <!--/row-fluid-->
        </div>
        <!--/container-->
    </div>
    <!--/copyright-->
    <!--=== End Copyright ===-->

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>


<script>
    var $j = jQuery.noConflict();
    $j(function () {

        jQuery.ajax(
           {
               type: 'post',
               url: '@Url.Content("~/Home/Contact/")',

               success: function (data) {
                   var result = JSON.parse(data);
                   var htmlinfocompany = '';
                   htmlinfocompany += '<address>';
                   htmlinfocompany += "<strong>" + result.COM_Nombre + "</strong><br>";
                   htmlinfocompany += "" + result.COM_Direccion + "<br>";
                   htmlinfocompany += "<abbr title='Phone'>Teléfono:</abbr>";
                   htmlinfocompany += "" + result.COM_Telefono + "";
                   htmlinfocompany += '</br><strong>Correo Electrónico</strong></br>';
                   htmlinfocompany += "<a href='mailto:#'>" + result.COM_Correo + "</a>"
                   htmlinfocompany += "</address>";

                   $j('#personalinfofooter').append(htmlinfocompany);
               },
               error: function (a, b, c) {
                   alert(a);
               }
           });

        jQuery.ajax(
           {
               type: 'post',
               url: '@Url.Content("~/News/GetNewTop3/")',
               success: function (data) {
                   var result = JSON.parse(data);
                   var htmlresult = '';
                   htmlresult += '<div class="headline"><h3>Noticias Recientes</h3></div>';
                   $j.each(result.$values, function (val, noti) {
                       var urlHelper = new UrlHelper();
                       var url = urlHelper.urlImage(noti.NEW_Imagen);
                       htmlresult += '<dl class="dl-horizontal"> <dt><a href="#"><img src="' + url + '" alt=""></a></dt>';
                       htmlresult += '<dd> <p><a href="#">"' + noti.NEW_Titulo + '"</a></p></dd> </dl>';
                   });
                   $j('.lastnews').html(htmlresult);

               },
               error: function (a, b, c) {

               }
           });

    });

       var imageUp = '@Url.Content("~/images/up.png")';

</script>


</html>

