<!-- Menu -->
<div class="navbar">
    <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <!-- /nav-collapse -->
        <div class="nav-collapse collapse">
            <ul class="nav top-2">
                <li class="active">
                    <a href="@Url.Action("Index", "Home")" class="dropdown-toggle" data-toggle="dropdown">Inicio
                               
                                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                         <li class="">
                            <a href="@Url.Action("Create", "Contact")">Contactenos</a>
                        </li>
                       
                    </ul>
                    <b class="caret-out"></b>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operaciones
                               
                                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a  tabindex="-1" href="@Url.Action("Index", "Home")">Ordenes de Compra </a></li>
                        <li><a  tabindex="-1" href="@Url.Action("Index", "Home")">Cotizaciones</a></li>
                        <li><a  tabindex="-1" href="@Url.Action("Index", "Home")">Estado de Cuenta</a></li>
                        <li><a  tabindex="-1" hhref="@Url.Action("Index", "Home")">Balance de Movimientos</a></li>
                    </ul>
                    <b class="caret-out"></b>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administración de Cuentas
                               
                                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a  tabindex="-1" href="@Url.Action("Manage", "Account")">Administrar Credenciales </a></li>

                    </ul>
                    <b class="caret-out"></b>
                </li>

                <li><a href="@Url.Action("ViewUploader", "Home")">Imagenes</a></li>



                <li><a class="search"><i class="search-btn icon-search"></i></a></li>
            </ul>
            <div class="search-open" style="display: none;">
                <div class="input-append">
                    <form>
                        <input type="text" class="span3" placeholder="Search">
                        <button type="submit" class="btn-u">Go</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /nav-collapse -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
