@model AgroGanSite.Models.COM_Compañia

@{
    ViewBag.Title = "Edit Company Info";
}

<script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-collapse.js")"></script>

<div class="breadcrumbs margin-bottom-10">
    <div class="row-fluid">
        <h3 class="color-blue pull-left">Edición de Compañia</h3>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Inicio</a> <span class="divider">/</span></li>
            <li><a href="@Url.Action("Index", "Home")" >Página</a> <span class="divider">/</span></li>
            <li class="active">Compañia</li>
        </ul>
    </div>
    <!--/container-->
</div>

@*<div class="container">*@

    <div class="row-fluid">


        <div class="span3">

            <div class="headline">
                <h3>Operaciones</h3>
            </div>
            <div>
                @Html.ActionLink("Regresar a Principal", "Index", "Home", null, new { @class="btn-u" })
            </div>

            <br />



        </div>

        <div class="span9">

            <div class="another-page">
                <h3>Edición</h3>
                <div class="successmessage">
                </div>

                @using (Ajax.BeginForm("EditCompanyInfo", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onsuccess", OnFailure = "failed" }))
                {
              
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
            
                    <h4>Para la edición por favor llenar todos los campos requeridos</h4>
                    <br />

                    @Html.HiddenFor(model => model.COM_Id, new { @placeholder = "Id", @class = "input-large" })
                
                    <label for='COM_Nombre'>Nombre*: </label>
                    @Html.TextBoxFor(model => model.COM_Nombre, new { @placeholder = "Nombre Compañia", @class = "input-xlarge" })
                    <br />
                    @Html.ValidationMessageFor(model => model.COM_Nombre)


                    <label for='COM_Direccion'>Direccion*:</label>
                    @Html.TextBoxFor(model => model.COM_Direccion, new { @placeholder = "Dirección", @class = "input-xxlarge" })
                    <br />
                    @Html.ValidationMessageFor(model => model.COM_Direccion)

                
                    <label for='COM_Telefono'>Telefóno*:</label>
                    @Html.TextBoxFor(model => model.COM_Telefono, new { @placeholder = "Teléfono", @class = "input-large" })
                    <br />
                    @Html.ValidationMessageFor(model => model.COM_Telefono)

                    <label for='COM_Correo'>Correo Electrónico*:</label>
                    @Html.TextBoxFor(model => model.COM_Correo, new { @placeholder = "Correo Electrónico", @class = "input-xxlarge" })
                    <br />
                    @Html.ValidationMessageFor(model => model.COM_Correo)

                
                    <label for='COM_Web'>Sitio Web*:</label>
                    @Html.TextBoxFor(model => model.COM_Web, new { @placeholder = "Sitio Web", @class = "input-xxlarge" })
                    <br />
                    @Html.ValidationMessageFor(model => model.COM_Web)

                    <label for='COM_ContactoNombre'>Persona Contacto*:</label>
                    @Html.TextBoxFor(model => model.COM_ContactoNombre, new { @placeholder = "Persona Contacto", @class = "input-xlarge" })
                    <br />
                    @Html.ValidationMessageFor(model => model.COM_ContactoNombre)

                    <label for='COM_ContactoEmail'>Correo Electrónico Contacto*:</label>
                    @Html.TextBoxFor(model => model.COM_ContactoEmail, new { @placeholder = "Correo Electrónico Contacto", @class = "input-xlarge" })
                    <br />
                    @Html.ValidationMessageFor(model => model.COM_ContactoEmail)
                
                    <label for='COM_ContactoCelular'>Telefóno o Celular Contacto*:</label>
                    @Html.TextBoxFor(model => model.COM_ContactoCelular, new { @placeholder = "Telefóno o Celular", @class = "input-xlarge" })
                    <br />
                    @Html.ValidationMessageFor(model => model.COM_ContactoEmail)
                
                
                    @Html.HiddenFor(model => model.COM_Logo, new { @placeholder = "Logo", @class = "input-xxlarge" })
              
              
                    <input type="submit" value="Actualizar" class="btn-u" id="submit-button" />
                    <p id="req-field-desc"><span class="required">*</span>Indica que es un campo mandatorio en el formulario</p>


                }
            </div>
        </div>

    </div>
@*</div>*@


<script>
    function onsuccess(data) {
        //jAlert('El proceso de actualización ha sido exitoso');

        jConfirm('Información de compañia actualizada satisfactoriamente, Desea volver al dashboard?', 'Información de Compañia', function (confirmed) {
            if (!confirmed)
                window.location = data.redirectToUrl;
            else
                window.location = '@Url.Action("Index", "Home")'
        });



    }

    function failed() {
        jAlert('El proceso de actualización ha fallado, intente de nuevo o contacte al administrador.');
    }
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
