@model IEnumerable<AgroGanSite.Models.PRC_PantallaInicial>

@{
    ViewBag.Title = "Pantalla Inicio";
}

<link href="@Url.Content("~/Content/jpages/jPages.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jpages/animate.css")" rel="stylesheet" type="text/css" />
@*<link href="@Url.Content("~/Content/jpages/style.css")" rel="stylesheet" type="text/css" />*@
<script src="@Url.Content("~/Scripts/jpage/jPages.min.js")" type="text/javascript"></script>

<script>
    var $j = jQuery.noConflict();
    $j(function () {
        $j("div.holder").jPages({
            containerID: "productdiv",
            //              previous: "←",
            //              next: "→",
            first: "first",
            previous: "previous",
            next: "next",
            last: "last",
            perPage: 5,
            delay: 20
        });
    });

    function deletepantallaobjeto(id) {
        jConfirm('Desea esta informacion de la pantalla inicial?', 'Borrar objeto existente', function (confirmed) {
            if (confirmed) {
                jQuery.ajax(
               {
                   type: 'post',
                   url: '@Url.Content("~/PrincipalInfo/Delete/")',
                   data: { id: id },
                   success: function (data) {

                       window.location = data.redirectToUrl;
                   },
                   error: function (a, b, c) {
                       alert(a);
                   }
               });
           }
        });

   }
  </script>


<div class="breadcrumbs margin-bottom-50">
    <div class="container">
        <h3 class="color-blue pull-left">Listado de Pantalla de Inicio</h3>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Inicio</a> <span class="divider">/</span></li>
            <li><a href="@Url.Action("Index", "Home")" >Página</a> <span class="divider">/</span></li>
            <li class="active">Pantalla Inicio</li>
        </ul>
    </div>
    <!--/container-->
</div>


<div class="container">
    <div class="row-fluid">
        <div class="span3">
             <div class="headline"><h3>Operaciones</h3></div>
            <div>
                @Html.ActionLink("Volver a Dashboard", "Index", "Home")
            </div>
               <br />
            <div>@Html.ActionLink("Crear Nuevo", "Create")</div>
        </div>

        <div class="span9">

            <div class="another-page">
                <h3>Listado</h3>
                <div class="successmessage">
                </div>




                <div style="overflow: scroll; width: 100%">
                    <table class="table table-bordered table-hover">
                        <thead>

                            <tr>
                                <th style="text-align: center">Administración</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PRC_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PRC_Text)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PRC_Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PRC_Html)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PRC_Imagen)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.STS_Status.STS_Descripcion)
                                </th>

                            </tr>
                        </thead>
                        <tbody id="productdiv">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>

                                        <table>
                                            <tr>
                                                <td>@Html.ActionLink("Editar", "Edit", new { id = item.PRC_Id }, new { @class = "btn-u" })</td>

                                                <td>
                                                    <a class="btn btn-danger" onclick="deletepantallaobjeto('@item.PRC_Id')" >Borrar</a>

                                                </td>
                                            </tr>
                                        </table>


                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PRC_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PRC_Text)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PRC_Descripcion)
                                    </td>
                                    <td>
                                        @Html.Label("No Disponible debido a su tamaño en página")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PRC_Imagen)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.STS_Status.STS_Descripcion)
                                    </td>

                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <div class="holder" style="float: left">
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>

            </div>
        </div>
        </div>
    </div>
